body {
  margin: 1px;
  background-color: #e9e3e6;
  color: #01161E;
  font-family: "Jost", sans-serif;
}

div.controls {
  display: flex;
  align-items: center;
} 

div.colour, div.clr-field {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #6e6e6e;
  margin-right: 2px;
  border: 1px solid #000;
} 

div.colourSmall {
  width: 12px;
  height: 24px;
  border-radius: 5px;
  margin-right: 2px;
  border: 1px solid #000;
} 

div.paletteDropdown {
  display: flex;
  justify-content: space-between;
  width: 100%
}
div.paletteTitle {
 width:fit-content;
 width: 50%;
}

div.paletteContent {
  width: 50%;
  display: inline-flex;
  align-items: flex-end;
}

.transparent {
  background: 
    repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 
      50% / 10px 10px
}